.dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown-button {
    min-height: 4rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border: none;
    padding: 1rem;
    /* background-color: var(--Neutral-800); */
    color: var(--Neutral-200);
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.4rem;
    transition: transform 0.2s ease;
}

.dropdown-button:hover {
    transform: scale(1.05);
}

.dropdown-button-units:hover {
    background-color: var(--Neutral-800);
}

.dropdown-button-days:hover {
    background-color: var(--Neutral-700);
}

.dropdown-menu {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 4rem;
    background-color: var(--Neutral-800);
    margin-top: 0.5rem;
    border: 1px solid var(--Neutral-700);
    padding: 1rem;
    border-radius: 5px;
    z-index: 1000;
}

.switch-unit-system {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

.dropdown-item {
    font-size: 1.4rem;
    padding: 0.6rem;
    color: var(--Neutral-0);
    cursor: pointer;
}

.switch-unit-system:hover, 
.dropdown-item:hover {
    background-color: var(--Neutral-700);
    border-radius: 1rem;
}

.dropdown-item-selected {
    border-radius: 1rem;
    background-color: var(--Neutral-700);
}

.with-checkmark {
    background-image: url("/images/icon-checkmark.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
}

.dropdown-label {
    font-size: 1.2rem;
    padding: 0.6rem;
    color: var(--Neutral-300);
}

.dropdown-icon {
    transition: transform 0.6s ease;
}

.rotate {
    transform: rotate(180deg);
}

.color-background-units {
    background-color: var(--Neutral-700);
}

.color-background-days {
    background-color: var(--Neutral-600);
}

.icon-styles {
    width: 1.4rem;
    height: 1.4rem;
}

.divisor {
    width: 100%;
    height: 2px;
    background-color: var(--Neutral-700);
}