.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dot {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: var(--Neutral-0);
    animation: bounce 1.2s infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.center-dot {
    margin-bottom: 1rem;
}

.loading-paragraph {
    font-size: var(--font-size-base);
    font-weight: 500;
    color: var(--Neutral-300);
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.2rem);
    }
}