.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    background-image: url("/images/bg-today-small.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.location-date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.weather-location {
    width: max-content;
    font-size: var(--font-size-lg);
    font-weight: 500;
}

.weather-date {
    font-size: var(--font-size-base);
    font-weight: 500;
}

.temperature-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.weather-temperature {
    font-size: var(--font-size-xxl);
    font-weight: 500;
    font-style: italic;
}

.weather-image-container {
    width: 10rem;
}

.weather-image {
    width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    .main-container {
        width: 75%;
        height: 26rem;
        flex-direction: row;
        justify-content: space-between;
        background-image: url("/images/bg-today-large.svg");
    }
}