.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    background-image: url("/images/bg-today-small.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.weather-location {
    font-size: var(--font-size-lg);
    font-weight: 500;
}

.weather-date {
    font-size: var(--font-size-base);
    font-weight: 500;
}

.temperature-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.weather-temperature {
    font-size: var(--font-size-xxl);
    font-weight: 500;
    font-style: italic;
}

.weather-image-container {
    width: 10rem;
}

.weather-image {
    width: 100%;
    height: auto;
}