.main-container {
    width: 100%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    background-image: url("/images/bg-today-small.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-container-loading {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    background: var(--Neutral-800);
}

.location-date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.weather-location {
    width: max-content;
    font-size: var(--font-size-lg);
    font-weight: 500;
}

.weather-date {
    font-size: var(--font-size-base);
    font-weight: 500;
}

.temperature-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.weather-temperature {
    font-size: var(--font-size-xxl);
    font-weight: 500;
    font-style: italic;
}

.weather-image-container {
    width: 10rem;
}

.weather-image {
    width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    .main-container {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: 30rem;
        flex-direction: row;
        justify-content: space-between;
        background-image: url("/images/bg-today-large.svg");
    }
}