aside {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 2rem;
    border-radius: 1.6rem;
    padding: 2rem;
    gap: 2rem;
    background: var(--Neutral-800);
}

.hourly-forecast-title {
    grid-row: 1;
    grid-column: 1;
    font-size: var(--font-size-base);
    font-weight: 400;
}

.dropdown-skeleton {
    grid-row: 1;
    grid-column: 2;
    width: 8rem;
    height: 3rem;
    border-radius: 0.8rem;
    background-color: var(--Neutral-700);
    animation: pulse 1.5s infinite ease-in-out;
}

.hourly-forecast-container {
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.loading-skeleton-item {
    width: 100%;
    min-height: 7rem;
    border-radius: 1rem;
    background-color: var(--Neutral-700);
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
