aside {
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 2rem;
    border-radius: 1.6rem;
    padding: 2rem;
    background: var(--Neutral-800);
}

.hourly-forecast-title {
    grid-row: 1;
    grid-column: 1;
    font-size: var(--font-size-base);
    font-weight: 400;
}

.hourly-forecast-container {
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hourly-forecast-item {
    min-height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--Neutral-600);
    border-radius: 1rem;
    padding: 1rem 2rem;
    background: var(--Neutral-700);
}

.hourly-forecast-inner-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hourly-forecast-image {
    width: 5rem;
    height: 5rem;
}

.hourly-forecast-hour {
    font-size: var(--font-size-base);
}

.hourly-forecast-temp {
    font-size: var(--font-size-sm);
    color: var(--Neutral-200);
}

@media (min-width: 1024px) {
    aside {
        grid-column: 2;
        grid-row: 1/4;
    }
}