.error-message {
    margin-top: 2rem;
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--Neutral-200);
    text-align: center;
}

.welcome-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome-message {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--Neutral-200);
    margin-bottom: 1rem;
}

.welcome-paragraph {
    font-size: var(--font-size-base);
    color: var(--Neutral-200);
    max-width: 400px;
}

@media (min-width: 1024px) {
    .weather-info-wrapper {
        display: grid;
        grid-template-columns: 70% 28%;
        gap: 2rem;
    }
}