.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
}

.title {
    font-size: var(--font-size-xl);
    font-family: var(--font-heading);
    text-align: center;
}

.logo {
    width: 14rem;
}