.dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown-button {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border: none;
    padding: 1rem;
    background-color: var(--Neutral-800);
    color: var(--Neutral-200);
    cursor: pointer;
    border-radius: 5px;
    font-family: var(--font-body);
    font-size: 1.4rem;
}

.dropdown-menu {
    width: 8rem;
    position: absolute;
    top: 4rem;
    background-color: var(--Neutral-800);
    border: 1px solid var(--Neutral-700);
    border-radius: 5px;
    margin-top: 0.5rem;
    z-index: 1000;
}