.loading-dash {
    width: 5%;
    height: 0.4rem;
    border-radius: 1rem;
    background: var(--Neutral-200);
    animation: tingling 1.5s infinite;
}

@keyframes tingling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}