aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 12rem;
    border-radius: 1rem;
    padding: 1.6rem;
    background: var(--Neutral-800);
}

.data-item {
    font-size: var(--font-size-base);
    color: var(--Neutral-300);
}

.data-value {
    font-size: var(--font-size-lg);
    font-weight: 300;
    color: var(--Neutral-200);
}

@media (min-width: 1024px) {
    aside {
        width: 75%;
        grid-template-columns: repeat(4, 1fr);
    }
}