.daily-forecast-section {
    margin-top: 2rem;
}

.daily-forecast-loading-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.daily-forecast-title {
    font-size: var(--font-size-base);
    font-weight: 400;
}

.loading-skeleton-item {
    width: 100%;
    max-width: 12rem;
    height: 16rem;
    border-radius: 1.6rem;
    background-color: var(--Neutral-700);
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
