.title {
    margin-top: 4rem;
    padding: 2rem;
    font-size: 5.4rem;
    text-align: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 2rem;
}

.field-styles {
    width: 100%;
    max-width: 54rem;
    font-size: var(--font-size-base);
    padding: 1.5rem 1.5rem 1.5rem 5rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--Neutral-800);
    color: var(--Neutral-0);
    font-family: var(--font-body);
    background-image: url('/images/icon-search.svg');
    background-repeat: no-repeat;
    background-size: 3.5rem 2rem;
    background-position: 1.2rem center;
}

.input-container {
    width: 100%;
    max-width: 54rem;
}

.search-button {
    width: 100%;
    max-width: 54rem;
    font-size: var(--font-size-base);
    padding: 1.5rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--Blue-500);
    color: var(--Neutral-0);
    font-family: var(--font-body);
    cursor: pointer;
}

@media (min-width: 1024px) {
    .search-container {
        flex-direction: row;
        gap: 1.5rem;
    }

    .search-button {
        width: 12%;
        max-width: 12rem;
    }
}