.search-in-progress-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 0.8rem;
    background: var(--Neutral-800);
}

.search-in-progress-paragraph {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    font-size: var(--font-size-base);
    color: var(--Neutral-200);
}

@media (min-width: 1024px) {
    .search-in-progress-container {
        top: -1rem;
    }
}