@font-face {
    font-family: 'DM Sans';
    src:
        local('DM Sans'),
        url('../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.woff2') format('woff2'),
        url('../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src:
        local('DM Sans Italic'),
        url('../fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.woff2') format('woff2'),
        url('../fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.woff') format('woff');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src:
        local('Bricolage Grotesque'),
        url('../fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.woff2') format('woff2'),
        url('../fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html, * {
    font-size: 62.5%;
    font-family: var(--font-body);
    color: var(--Neutral-0);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--Neutral-900);
    padding: 2rem;
}