:root {
    /* COLORS */

    /*Neutral*/
    --Neutral-900: hsl(243, 96%, 9%);
    --Neutral-800: hsl(243, 27%, 20%);
    --Neutral-700: hsl(243, 23%, 24%);
    --Neutral-600: hsl(243, 23%, 30%);
    --Neutral-300: hsl(240, 6%, 70%);
    --Neutral-200: hsl(250, 6%, 84%);
    --Neutral-0: hsl(0, 0%, 100%);

    /*Orange*/
    --Orange-500: hsl(28, 100%, 52%);

    /*Blue*/
    --Blue-500: hsl(233, 67%, 56%);
    --Blue-700: hsl(248, 70%, 36%);

    /*FONT FAMILYS*/
    --font-body: 'DM Sans', system-ui, sans-serif;
    --font-heading: 'Bricolage Grotesque', system-ui, sans-serif;

    /*FONT SIZES*/
    --font-size-xxl: 8rem;
    --font-size-xl: 5.8rem;
    --font-size-lg: 2.6rem;
    --font-size-base: 1.8rem;
    --font-size-sm: 1.6rem;
}